<?xml version="1.0"?>
<launch>
    
    <!-- <param name="/use_sim_time" value="true" /> -->
    
    <!-- startup simulated world -->
        <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" default="worlds/empty.world"/>
            <arg name="paused" value="false"/>
        </include> -->

    <!-- send robot urdf to param server -->
        <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find ur10_arm)/urdf/ur10_arm.xacro'" /> -->
        <param name="robot_description" command="$(find xacro)/xacro $(find mobile_manipulator)/urdf/dora.xacro"/>
    <!-- push robot_description to factory and spawn robot in gazebo -->
        <!-- <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model UR10_ARM" respawn="false" output="screen" /> -->


        <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <!-- Robot state_publisher subscribes to /joint_states and calculats state of the system 
            as transfer functions between the frames and publishes it as the State of the Robot as TF-->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="10.0" />
        </node>

    <!-- Load the controllers -->
        <rosparam file="$(find ur10_arm)/cfg/controller/ur10_controller.yaml" command="load"/>
     <!-- Spawn the controllers -->    
        <node name="ur10_arm_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
                    output="screen" ns="/" args="spawn ur10_arm_controller"
        /> 

    <!-- Load the controllers for the MiR100 -->
        <rosparam file="$(find mir100_mobile_base)/cfg/controller/mir100_controller.yaml" command="load"/>

    <!-- Spawn the MiR100 controllers --> 
        <node name="mir100_mobile_base_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
                    output="screen" ns="/" args="spawn mir100_controller">

        </node>

    <!-- Load the controllers for the BH282 -->
        <rosparam file="$(find bh282_hand)/cfg/controller/bh282_controller.yaml" command="load"/>
    <!-- Spawn the BH282 controllers -->    
        <node name="bh282_hand_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn bh282_gripper_controller" 
            respawn="false" output="screen" 
        /> 

    <!-- Starts the moveit launch files created by the moveit setup assistant. Not very necessary here-->
        <!-- <include file="$(find realistic_dora_moveit_config)/launch/move_group.launch"/> -->


    <!-- Load joint_state_controller -->
        <rosparam file="$(find mobile_manipulator)/cfg/controller/joint_state_controller.yaml" command="load"/>
        
        <node name="comparison_rviz" pkg="rviz" type="rviz" args="-d $(find ur10_arm)/cfg/rviz.rviz"/>

</launch>
