<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="bh282_hand">

    <xacro:include filename="$(find bh282_hand)/urdf/common.urdf.xacro" />
    <xacro:include filename="$(find bh282_hand)/urdf/bh282.urdf.xacro" />
    <xacro:include filename="$(find bh282_hand)/urdf/bh282.transmission.xacro" />
    <xacro:include filename="$(find bh282_hand)/urdf/bh282.gazebo.xacro" />


    <link name="world"/>

    <!-- #################### Barret Hand ################### -->
    <!-- #################################################### -->

        <!-- #################### URDF ################### -->
            
            <xacro:BH282_hand parent="world">
	        </xacro:BH282_hand>

        <!-- #################### URDF ################### -->

        <!-- ############## Transmissions ################ -->

            <!-- Finger 1-->

                <xacro:BH282_joint_transmission joint="BH282__base_to_finger_11" hw_interface="hardware_interface/PositionJointInterface"/>
                <xacro:BH282_joint_transmission joint="BH282__finger_11_to_finger_12" hw_interface="hardware_interface/PositionJointInterface"/>
                <xacro:BH282_joint_transmission joint="BH282__finger_12_to_finger_13" hw_interface="hardware_interface/PositionJointInterface"/>

            <!-- Finger 2-->

                <xacro:BH282_joint_transmission joint="BH282__base_to_finger_21" hw_interface="hardware_interface/PositionJointInterface"/>
                <xacro:BH282_joint_transmission joint="BH282__finger_21_to_finger_22" hw_interface="hardware_interface/PositionJointInterface"/>
                <xacro:BH282_joint_transmission joint="BH282__finger_22_to_finger_23" hw_interface="hardware_interface/PositionJointInterface"/>
            <!-- Finger 3-->

                <xacro:BH282_joint_transmission joint="BH282__finger_31_to_finger_32" hw_interface="hardware_interface/PositionJointInterface"/>
                <xacro:BH282_joint_transmission joint="BH282__finger_32_to_finger_33" hw_interface="hardware_interface/PositionJointInterface"/>

        <!-- ############## Transmissions ################ -->


        <!-- ############## Gazebo ####################### -->

            <xacro:BH282_gazebo/>

            <xacro:BH282_ros_controller/>
            
        <!-- ############## Gazebo ####################### -->


    <!-- #################################################### -->
    <!-- #################### Barret Hand ################### -->

</robot>