<?xml version="1.0"?>
<launch>
    
    <param name="/use_sim_time" value="true" />
    
    <!-- startup simulated world -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" default="worlds/empty.world"/>
            <arg name="paused" value="false"/>
        </include>

    <!-- send robot urdf to param server -->
        <param name="robot_description" command="$(find xacro)/xacro '$(find mir100_mobile_base)/urdf/mir100_mobile_robot.xacro'" />
    
    <!-- push robot_description to factory and spawn robot in gazebo -->
        <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model MiR100_Mobile_Robot" respawn="false" output="screen" />
    
    <!-- Load joint_state_controller -->
        <rosparam file="$(find mir100_mobile_base)/cfg/controller/joint_state_controller.yaml" command="load"/>
    <!-- Start joint_state_controller -->
        <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>
    
    <!-- Robot state_publisher subscribes to /joint_states and calculats state of the system 
            as transfer functions between the frames and publishes it as the State of the Robot as TF-->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="10.0" />
        </node>


    <!-- NOT NEEDED / IT IS USED AS PLUGIN  Load the controllers -->
        <!-- <rosparam file="$(find mir100_mobile_base)/cfg/controller/mir100_controller.yaml" command="load"/> -->

    <!-- NOT NEEDED / IT IS USED AS PLUGIN  Spawn the controllers --> 
        <!-- <node name="mir100_mobile_base_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
                    output="screen" ns="/" args="spawn mir100_controller"
        />  -->

    <!-- Steer MiR -->
        <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
            <param name="default_topic" value="/MiR/controller/cmd_vel"/>
            <param name="default_vx_max" value="1.0" />
            <param name="default_vx_min" value="-1.0" />
            <param name="default_vw_max" value="1.5" />
            <param name="default_vw_min" value="-1.5" />
        </node>


</launch>
